{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h2>Add Products</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="productName" class="form-label">Product Title</label>
            <input type="text" class="form-control" id="productsName" name="productname" required>
        </div>
        <div class="mb-3">
            <label for="productDesc" class="form-label">Product Description</label>
            <textarea class="form-control" id="productDesc" name="productdesc" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="productImage" class="form-label">Product Image</label>
            <input type="file" class="form-control" id="productImage" name="productimage" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="row d-flex justify-content-center" style="align-items: center"> <span class="text-danger fw-5">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </span></div>
    </form>
</div>


{% endblock %}