
{% extends 'admin_base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div class="table-wrapper bg-light border">
        <div class="table-title bg-light">
            <div class="row">
                <div class="col-md-3 mt-5"></div>
                <div class="col-md-6 text-center mt-5">
                    <h2>EDIT YOUR EDITION </h2>
                </div>
            </div>
        </div>

        <div class="card bg-grey p-5">
            <div class="card-body" style="font-size: 1rem">
                <h5 class="card-title text-white mb-5">Edition Table</h5>

                <!-- Edit category form  -->

                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                              <input type="text" id="form6Example1" value="{{ edition.editons_name }}" class="form-control bg-grey text-black" name="name" required/>
                              <label class="form-label" for="form6Example1">Edition Name</label>
                          </div>
                        </div>
                    </div>


                    <!-- Description input -->
                    <div class="form-outline mb-4">
                        <textarea class="form-control bg-grey text-black" id="productDesc" rows="4" name="description"> {{ edition.edition_description }} </textarea>
                        <label class="form-label" for="productDesc">Edition Description</label>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                              <input type="number" id="form6Example1" value="{{ edition.publication_year }}" class="form-control bg-grey text-black" name="year" required/>
                              <label class="form-label" for="form6Example1">Edition Year</label>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                              <input type="text" id="form6Example1" value="{{ edition.publisher }}" class="form-control bg-grey text-black" name="publisher" required/>
                              <label class="form-label" for="form6Example1">Publisher Name</label>
                          </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="text-end">
                        <button type="submit" class="btn-lg border-0 btn-success btn-block mb-4">Update</button>
                    </div>
                </form>
              <!-- Edit product form end -->
                <hr />
            </div>
        </div>
    </div>
</div>

{% endblock %}