
{% extends 'admin_base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div class="table-wrapper bg-light border">
        <div class="table-title bg-light">
            <div class="row">
                <div class="col-md-3 mt-5"></div>
                <div class="col-md-6 text-center mt-5">
                    <h2>EDIT YOUR CATEGORY </h2>
                </div>
            </div>
        </div>

        <div class="card bg-grey p-5">
            <div class="card-body" style="font-size: 1rem">
                <h5 class="card-title text-white mb-5">Category Update Table</h5>

                <!-- Edit category form  -->
                <div class="row d-flex justify-content-center" style="align-items: center;text-align: center;"> <span class="text-danger fw-5">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </span></div>
                <br>
                <br>
                <form enctype="multipart/form-data" method="post" id="editCategoryForm">
                    {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                              <input type="text" id="form6Example1" value="{{ category.category_name }}" class="form-control bg-grey text-black" name="name" />
                              <label class="form-label" for="form6Example1">Category Name</label>
                          </div>
                        </div>
                    </div>

                  

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="mb-4 d-flex justify-content-center align-items-center gap-3">
                                <label for="currentFile" class="form-label">Current Image</label>
                                {% if category.category_image %}
                                    <img src="{{ category.category_image.url }}"
                                    alt="category image" style="width: 10vw;" id="currentFile" />
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mb-3">
                                    <input class="form-control bg-grey text-black" type="file" id="formFile" name="image">
                                    <label for="formFile" class="form-label">Choose your image (jpg, jpeg, or png)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="offertName" class="form-label">Select Offer</label>
                        <select class="form-select select2" id="offertName" name="offer" >
                            {% if category.offer %}
                            <option value="{{category.offer.id}}">{{category.offer.name}}</option>
                            <option value="">--No offer--</option>
                            {% else %}
                            <option value="">--Select--</option>
                            {% endif %}
                            
                            {% for offer in offers %}
                            <option value="{{offer.id}}">{{offer.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
             
                    <!-- Description input -->
                    <div class="form-outline mb-4">
                        <textarea class="form-control bg-grey text-black" id="productDesc" rows="4" name="description"> {{ category.category_description }} </textarea>
                        <label class="form-label" for="productDesc">Category Description</label>
                    </div>

                    <!-- Submit button -->
                    <div class="text-end">
                        <button type="submit" class="btn-lg border-0 btn-success btn-block mb-4">Update</button>
                    </div>
                  
                </form>
              <!-- Edit product form end -->
                <hr />
            </div>
        </div>
    </div>
</div>

<script>
    // Form validation using JavaScript
  
    document.addEventListener("DOMContentLoaded", function() {
        // Attach event listener to form submission
        document.getElementById('editCategoryForm').addEventListener('submit', function(event) {
            // Prevent default form submission
            event.preventDefault();

            // Validate Category Name
            var categoryName = document.getElementById('form6Example1').value.trim();
            if (categoryName === '') {
                alert('Category Name cannot be empty');
                return;
            }
            var fileInput = document.getElementById('formFile');
            var file = fileInput.files[0];
            if (file) {
                var fileName = file.name;
                var extension = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();
                if (extension !== 'jpg' && extension !== 'jpeg' && extension !== 'png') {
                    alert('Please upload a JPG, JPEG, or PNG image');
                    return;
                }
            }

           

            // If all validations pass, submit the form
            this.submit();
        });
    });
</script>


{% endblock %}
