{% extends 'admin_base.html' %}
{% load static %}
{% load custom_tags %}
{% block js %}

<script src="{% static 'admin/js/print.js' %}"></script>


{% endblock js %}

{% block body %}

 <!-- Sale & Revenue Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Order Sales Count</p>
                    <h6 class="mb-0"> {{order_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Order Sales Total</p>
                    <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{% if order_total %} {{order_total}} {% else %} 0 {% endif %}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sales Count</p>
                    <h6 class="mb-0"> {{today_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sales Total</p>
                    <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{% if today_revenue %} {{today_revenue}} {% else %} 0 {% endif %}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users fa-3x text-success"></i>
                <div class="ms-3">
                    <p class="mb-2">Weekly Orders Count</p>
                    <h6 class="mb-0"> {{weekly_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-info"></i>
                <div class="ms-3">
                    <p class="mb-2">Weekly Sales Revenue</p>
                    <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{% if weekly_revenue %} {{weekly_revenue}} {% else %} 0 {% endif %}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-3x text-warning"></i>
                <div class="ms-3">
                    <p class="mb-2">Monthly Orders Count</p>
                    <h6 class="mb-0"> {{monthly_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-danger"></i>
                <div class="ms-3">
                    <p class="mb-2">Monthly Sales Revenue</p>
                    <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{% if monthly_revenue %} {{monthly_revenue}} {% else %} 0 {% endif %}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-hand-holding-usd fa-3x text-success"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sales Discount</p>
                    <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{% if total_discount %} {{total_discount}} {% else %} 0 {% endif %}</h6>
                </div>
            </div>
        </div>
      
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-warning"></i>
                <div class="ms-3">
                    <p class="mb-2">Yearly Sales Count</p>
                    <h6 class="mb-0"> {{current_yearly_sales_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-danger"></i>
                <div class="ms-3">
                    <p class="mb-2">Yearly Sales Revenue</p>
                    <h6 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>{% if current_yearly_sales_revenue %} {{current_yearly_sales_revenue}} {% else %} 0 {% endif %}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Most selling Books</h6>
        <canvas id="myChart"></canvas>
    </div>
</div>
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Yearly Sales Revenue</h6>
        <canvas id="yearlySalesChart"></canvas>
    </div>
</div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ book_names|safe }},
            datasets: [{
                label: 'Total Quantity',
                data: {{ quantities|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                    'rgba(255, 159, 64, 0.7)',
                    // Add more colors as needed
                ],
                borderWidth: 0
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index];
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        return label + ': ' + value;
                    }
                }
            }
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('yearlySalesChart').getContext('2d');
    var yearlySalesChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ all_years|safe }},
            datasets: [{
                label: 'Yearly Sales',
                data: {{ chart_data|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<!-- Sale & Revenue End -->

<!-- Sales Chart Start -->
<!-- <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Worldwide Sales</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="worldwide-sales"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Salse & Revenue</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="salse-revenue"></canvas>
            </div>
        </div>
    </div>
</div> -->
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Sales</h6>
            <a href="#">Show All</a>
        </div>
        <div class="row mb-4 justify-content-between">
            <div class="col-md-6">
                <form action="" method="POST" class="d-flex align-items-center">
                    {% csrf_token %}
                    <label for="startDate" class="me-2">Start Date:</label>
                    <input type="date" class="form-control me-3" id="startDate" name="startDate">
                    <label for="endDate" class="me-2">End Date:</label>
                    <input type="date" class="form-control me-3" id="endDate" name="endDate">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button class="btn btn-sm btn-warning me-2" onclick="printTable()">Download <i class="bi bi-filetype-pdf"></i></button>
                <button class="btn btn-sm btn-warning" onclick="exportReportToExcel()">Download <i class="bi bi-file-earmark-excel"></i></button>
            </div>
        </div>
        
        <div class="table-responsive" style="max-height: 400px; overflow: auto;" id="orderTable">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                        <th scope="col">Date</th>
                        <th scope="col">Order Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                  
                    {% for order in order %}
                    <tr>
                        <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                        <td>{{ order.created }}</td>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.user.email }}</td>
                        <td> {{ order.order_total }}</td>
                        <td>{{ order.status }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'admin_order_update' order.id %}">Detail</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Yearly Sales Count Start -->
<!-- Yearly Sales and Orders Start -->
<div class="container pt-4 px-4">
    <div class="row g-4">
        <div class="col-md-6">
            <div class="bg-light rounded p-4">
                <h2 class="mb-4">Yearly Sales</h2>
                <div class="list-group">
                    {% for sale in yearly_sales %}
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ sale.year }}
                            <span class="badge bg-primary rounded-pill"><i class="fa-solid fa-indian-rupee-sign"></i> {{ sale.year_total }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-light rounded p-4">
                <h2 class="mb-4">Yearly Orders</h2>
                <div class="list-group">
                    {% for order in yearly_orders %}
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ order.year }}
                            <span class="badge bg-primary rounded-pill">{{ order.total_orders }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4 px-4">
    <div class="row g-4">
        <div class="col-md-6">
            <div class="bg-light rounded p-4">
                <h2 class="mb-4">Monthly Sales</h2>
                <div class="list-group">
                    {% for sale in monthly_sales %}
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ sale.month|get_month_name }}
                            <span class="badge bg-primary rounded-pill"><i class="fa-solid fa-indian-rupee-sign"></i> {{ sale.month_total }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-light rounded p-4">
                <h2 class="mb-4">Monthly Orders</h2>
                <div class="list-group">
                    {% for order in monthly_orders %}
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ order.month|get_month_name }}

                            <span class="badge bg-primary rounded-pill">{{ order.total_orders }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="{% static 'admin/img/user.jpg'%}" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="{% static 'admin/img/user.jpg'%}" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="{% static 'admin/img/user.jpg'%}" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                    <img class="rounded-circle flex-shrink-0" src="{% static 'admin/img/user.jpg'%}" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                    <a href="">Show All</a>
                </div>
                <div id="calender"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">To Do List</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex mb-2">
                    <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                    <button type="button" class="btn btn-primary ms-2">Add</button>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox" checked>
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span><del>Short task goes here...</del></span>
                            <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Widgets End -->



{% endblock %}
