{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
<div class="row">
  <div class="col-12 mt-5">
    <h3>View Author</h3>
  </div>
</div>
<div class="row d-flex justify-content-center" style="align-items: center"> <span class="text-danger fw-5">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</span></div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">Sl No</th>
      <th scope="col">Offer Name</th>
      <th scope="col">Off Percent</th>
      <th scope="col">Valid From</th>
      <th scope="col">Valid To</th>
      <th scope="col">Status</th>
      <th scope="col">Edit | Delete/Unblock</th>
    
    </tr>
  </thead>
 
  <tbody>
      {% for offer in offer %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td> {{offer.name}}</td>
      <td> {{offer.off_percent}}</td>
      <td> {{offer.start_date}}</td>
      <td> {{offer.end_date}}</td>
      
        <td>{% if offer.is_active %}<span class="fw-bold" style="color: green;"> Active </span> {% else %}<span class="fw-bold" style="color: red;"> Blocked </span> {% endif %}</td>
      <td> <a href="{% url 'admin_edit_offer' offer.id %}"><button class="btn btn-primary" id="up">Edit</button></a> <a href="{% url 'admin_delete_offer' offer.id %}"><button class="btn btn-danger" id="up">delete/unblock</button></a></td>
     
    </tr>
    
  

  {% endfor %}
</tbody>
</table>
</div>
 {% endblock %}