{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h2>Add Author</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="authorName" class="form-label">Author Name</label>
            <input type="text" class="form-control" id="authorName" name="authorname" required>
        </div>
        <div class="mb-3">
            <label for="authorDescription" class="form-label">Author Description</label>
            <textarea class="form-control" id="authorDescription" name="authordesc" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="authorImage" class="form-label">Author Image</label>
            <input type="file" class="form-control" id="authorImage" name="authorimage" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="row d-flex justify-content-center" style="align-items: center"> <span class="text-danger fw-5">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </span></div>
    </form>
</div>


{% endblock %}