{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Shop - Bootstrap Ecommerce Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap Ecommerce Template" name="keywords">
        <meta content="Bootstrap Ecommerce Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">
        <!-- Select2 CSS -->
        <script src="https://kit.fontawesome.com/0fc54a2091.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <style>
            #search-suggestions-container {
            position: absolute;
            top: calc(100% + 5px); /* Position it just below the search input */
            left: 0;
            width: 100%;
            background-color: #fff; /* Background color */
            border: 0px solid #ccc; /* Border */
            border-top: none; /* Remove top border */
            border-radius: 0 0 5px 5px; /* Rounded corners at bottom */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
            z-index: 999; /* Ensure it's above other elements */
            max-height: 200px; /* Limit maximum height for scrollability */
            overflow-y: auto; /* Enable vertical scrolling if needed */
        }
        
        #search-suggestions-container div {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease; /* Smooth hover effect */
        }
        
        #search-suggestions-container div:hover {
            background-color: #f4f4f4; /* Hover background color */
        }
        
        </style>
    </head>

    <body>
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="">
                                <img src="{% static 'img/blacklogo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-6 product-search">
                        <form action="{% url 'user_search' %}" method="post">
                            {% csrf_token %}
                        <div class="search">
                            <input type="text" placeholder="Search for books or authors" name="searchquery">
                            <div id="search-suggestions-container"></div>
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </form>    
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <div class="dropdown">
                                {% if request.user.is_authenticated and not user.is_superuser %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.first_name }}</a>
                                {% else %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                                {% endif %}
                                
                                <div class="dropdown-menu">
                                   
                                    {% if request.user.is_authenticated and not user.is_superuser %}
                                    <a href="{% url 'user_profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'user_logout' %}" class="dropdown-item">Log Out</a>
                                    {% else %}
                                    <a href="{% url 'user_login' %}" class="dropdown-item">Login</a>
                                    <a href="{% url 'user_sign_up' %}" class="dropdown-item">Register</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="cart">
                                
                                
                                {% if request.user.is_authenticated and not user.is_superuser %}
                               
                                <a href="{% url 'view_cart' user.id %}"><i class="fa fa-cart-plus"></i></a>
                                <span>({{ request.session.cart_item_count }})</span>
                                <a href="{% url 'view_wishlist'  %}"> <i class="fa fa-heart"></i></a>
                                <span>({{ request.session.wishlishcount }})</span>

                                
                                {% else %}
                                <i class="fa fa-cart-plus"></i>
                                <span>(0)</span>
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                                {% endif %}
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->
        
        
        <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                            <a href="{% url 'browse_products' %}" class="nav-item nav-link">Products</a>
                            
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                                <div class="dropdown-menu">
                                    {% if category %}
                                    {% for cat in category %}
                                    <a href="{% url 'category_wise' cat.id %}" class="dropdown-item">{{cat.category_name}}</a>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if request.user.is_authenticated and not user.is_superuser %}
                            <a href="{% url 'user_profile' %}" class="nav-item nav-link">My Profile</a>
                            {% endif %}

                            <a href="#" class="nav-item nav-link">Contact Us</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Header End -->
        
        
       {% block content %}

       


       {% endblock %}

        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h1>E Shop</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin rutrum massa. Suspendisse sollicitudin rutrum massa. Vestibulum porttitor, metus sed pretium elementum, nisi nibh sodales quam, non lobortis neque felis id mauris.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Pages</h3>
                            <ul>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="product-detail.html">Product Detail</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="login.html">Login & Register</a></li>
                                <li><a href="#">My Account</a></li>
                               
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="login.html">Login & Register</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 E Shop, Los Angeles, CA, USA</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row payment">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <p>We Accept:</p>
                            <img src="{% static 'img/payment-method.png' %}" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <p>Secured By:</p>
                            <img src="{% static 'img/godaddy.svg' %}" alt="Payment Security" />
                            <img src="{% static 'img/norton.svg' %}" alt="Payment Security" />
                            <img src="{% static 'img/ssl.svg' %}" alt="Payment Security" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
        
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/slick/slick.min.js' %}"></script>

        
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>



        <script>
            $(document).ready(function () {
                $('.dropdown-item-sort').click(function (e) {
                    e.preventDefault();
                    var sortCriteria = $(this).data('sort');
                    var url = '/browse_products/?sort_criteria=' + sortCriteria; 
                    $('#sortForm input[name="sort_criteria"]').val(sortCriteria);
                    $('#sortForm').attr('action', url);
                    $('#sortForm').submit();
        
                    window.location.href = url;
                });
        
                $('a').not('.dropdown-item').click(function(e) {
                // Only prevent default behavior if it's not a dropdown item link
                if (!$(this).hasClass('dropdown-item')) {
                    e.preventDefault();
                    var href = $(this).attr('href');
                    window.location.href = href;
                }
            });
            });
        
        
        
        
            // Attach event listener to search input field
            document.querySelector('.product-search input[name="searchquery"]').addEventListener('input', function() {
        
            var query = this.value;
            if (query.length >= 2) { // Optionally, check if the query length is sufficient
                fetchSuggestions(query);
            }
        });
        
        // Function to fetch search suggestions via AJAX
        function fetchSuggestions(query) {
            fetch('/search_suggestions/?query=' + query)
                .then(response => response.json())
                .then(data => {
                    // Update the search suggestion dropdown with the received suggestions
                    updateSuggestionsDropdown(data.suggestions);
                })
                .catch(error => {
                    console.error('Error fetching search suggestions:', error);
                });
        }
        
        // Function to update the search suggestion dropdown
        function updateSuggestionsDropdown(suggestions) {
            var container = document.getElementById('search-suggestions-container');
            // Clear existing suggestions
            container.innerHTML = '';
            // Populate container with new suggestions
            suggestions.forEach(suggestion => {
                var suggestionElement = document.createElement('div');
                suggestionElement.textContent = suggestion;
                suggestionElement.classList.add('suggestion-item'); // Add a class for styling
                suggestionElement.addEventListener('click', function() {
                    // When suggestion is clicked, populate the input field with the suggestion text
                    var inputField = document.querySelector('input[name="searchquery"]');
                    inputField.value = suggestion;
                    // Trigger the search
                    triggerSearch();
                });
                container.appendChild(suggestionElement);
            });
        }
        // Event listener to handle clicks on suggestion items
        document.addEventListener('click', function(event) {
            if (event.target.matches('.suggestion-item')) {
                var suggestion = event.target.textContent;
                var inputField = document.querySelector('.product-search input[name="searchquery"]');
                inputField.value = suggestion;
                triggerSearch();
            }
        });
        
        
        function triggerSearch() {
            var form = document.querySelector('.product-search form');
            form.submit();
        }
        
        </script>
        
        

    </body>
</html>
