{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}



{% block content %}
<style>
    #search-suggestions-container-browse {
    position: absolute;
    top: calc(100% + 5px); /* Position it just below the search input */
    left: 0;
    width: 100%;
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border */
    border-top: none; /* Remove top border */
    border-radius: 0 0 5px 5px; /* Rounded corners at bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
    z-index: 999; /* Ensure it's above other elements */
    max-height: 200px; /* Limit maximum height for scrollability */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

#search-suggestions-container-browse div {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

#search-suggestions-container-browse div:hover {
    background-color: #f4f4f4; /* Hover background color */
}

</style>


<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            
            <li class="breadcrumb-item active">product list</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Product List Start -->
<div class="product-view">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                          
                            <div class="col-md-4">
                                <div class="product-short">
                                    <form id="sortForm" action="" method="get">
                                        <input type="hidden" name="sort_criteria" value="">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product short by</a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a href="#" class="dropdown-item dropdown-item-sort" data-sort="newest">Newest</a>
                                                <a href="#" class="dropdown-item dropdown-item-sort" data-sort="popular">Popular</a>
                                                <a href="#" class="dropdown-item dropdown-item-sort" data-sort="price_low_to_high">Price: low to high</a>
                                                <a href="#" class="dropdown-item dropdown-item-sort" data-sort="price_high_to_low">Price: high to low</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    {% if listproducts %}
                    {% for product in listproducts %}
                    <div class="col-lg-4">
                        <div class="product-item">
                            <div class="product-image">
                                <a href="{% url 'product_detail' product.id %}">
                                    {% if product.product.product_image %}
                                    <img src="{{product.product.product_image.url}}" alt="Product Image">
                                </a>
                                {% endif %}
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="title"><a href="#" style="font-size: smaller;">{{product.variant_name}}</a></div>
                                <div class="ratting">
                                    {% for _ in product.rating|default:0|star_range  %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                </div>
                                {% if offerprice %}
                                 {% if product.id in offerprice %}
                                 <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ offerprice|get_item:product.id |floatformat:0 }} <span><i class="fa-solid fa-indian-rupee-sign"> </i>{{ product.product_price |floatformat:0 }}</span></div>
                                 {% else %}
                                 <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ product.product_price |floatformat:0 }} </div>
                        {% endif %}
                        {% else %}
                        <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ product.product_price |floatformat:0 }} </div>
                        {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% endif %}
                   

                </div>
                
                <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            
            
            <div class="col-md-3">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <ul>
                        {% if category %}
                        {% for cat in category %}
                        <li><a href="{% url 'category_wise' cat.id %}">{{cat.category_name}}</a><span>({{ cat.product_variant_set.count }})</span></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                
                <div class="sidebar-widget image">
                    <h2 class="title">Featured Product</h2>
                    <a href="#">
                        <img src="{% static 'img/NovelsCat.jpg' %}" alt="Image">
                    </a>
                </div>
                
              
                
               
            </div>
        </div>
    </div>
</div>
<!-- Product List End -->

<script>
    $(document).ready(function () {
        $('.dropdown-item-sort').click(function (e) {
            e.preventDefault();
            var sortCriteria = $(this).data('sort');
            var url = '/browse_products/?sort_criteria=' + sortCriteria; 
            $('#sortForm input[name="sort_criteria"]').val(sortCriteria);
            $('#sortForm').attr('action', url);
            $('#sortForm').submit();

            window.location.href = url;
        });

        $('a').not('.dropdown-item').click(function(e) {
        // Only prevent default behavior if it's not a dropdown item link
        if (!$(this).hasClass('dropdown-item')) {
            e.preventDefault();
            var href = $(this).attr('href');
            window.location.href = href;
        }
    });
    });




    // Attach event listener to search input field
    document.querySelector('.product-search.browse input[name="searchquery"]').addEventListener('input', function() {

    var query = this.value;
    if (query.length >= 2) { // Optionally, check if the query length is sufficient
        fetchSuggestions(query);
    }
});

// Function to fetch search suggestions via AJAX
function fetchSuggestions(query) {
    fetch('/search_suggestions/?query=' + query)
        .then(response => response.json())
        .then(data => {
            // Update the search suggestion dropdown with the received suggestions
            updateSuggestionsDropdown(data.suggestions);
        })
        .catch(error => {
            console.error('Error fetching search suggestions:', error);
        });
}

// Function to update the search suggestion dropdown
function updateSuggestionsDropdown(suggestions) {
    var container = document.getElementById('search-suggestions-container-browse');
    // Clear existing suggestions
    container.innerHTML = '';
    // Populate container with new suggestions
    suggestions.forEach(suggestion => {
        var suggestionElement = document.createElement('div');
        suggestionElement.textContent = suggestion;
        suggestionElement.classList.add('suggestion-item'); // Add a class for styling
        suggestionElement.addEventListener('click', function() {
            // When suggestion is clicked, populate the input field with the suggestion text
            var inputField = document.querySelector('input[name="searchquery"]');
            inputField.value = suggestion;
            // Trigger the search
            triggerSearch();
        });
        container.appendChild(suggestionElement);
    });
}
// Event listener to handle clicks on suggestion items
document.addEventListener('click', function(event) {
    if (event.target.matches('.suggestion-item')) {
        var suggestion = event.target.textContent;
        var inputField = document.querySelector('.product-search.browse input[name="searchquery"]');
        inputField.value = suggestion;
        triggerSearch();
    }
});


function triggerSearch() {
    var form = document.querySelector('.product-search.browse form');
    form.submit();
}

</script>



{% endblock %}