{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% block content %}

<div class="container">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        <h4>Change Password</h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label for="crnt_email" class="form-label">Current Email</label>
            <input type="email" name="crnt_email" value="{{user.email}}" class="form-control" id="new_password">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Enter new Email</label>
            <input type="email" name="email" class="form-control" id="reconfirm_password">
        </div>
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>




{% endblock %}