<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z72Kf7Kq4E94e/a/0n5B2ZJoNJ6jcWLOmwEk5f" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
    
                <!-- Pills content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active mb-5" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    
                        <!-- Form: Reset Password -->
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-2 col-sm-1"></div>
                                <div class="text-center mb-5 mt-5 col-md-8 col-sm-10">
                                    <h3 class="text-center">
                                        RESET YOUR EBOOK-STORE ACCOUNT PASSWORD
                                    </h3>
                                </div>
                            </div>
    
                            <!-- Email input -->
                            <div class="form-group mb-4">
                                <label for="loginName">Email Address</label>
                                <input type="email" id="loginName" name="email" class="form-control" required>
                            </div>
    
                            <!-- Submit button -->
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-warning mb-4 w-100">Send Link</button>
                            </div>

                            <span class="text-danger fw-5">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </span>
                        </form>
                        <!-- Form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>