{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% block content %}

{% if messages %}
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">A message for you!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Trigger the modal -->
    <script>
        $(document).ready(function(){
            $('#confirmationModal').modal('show');
        });
    </script>
{% endif %}
 <!-- Main Slider Start -->
 <div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item"><img src="{% static 'img/bookbanner5.jpg' %}" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="{% static 'img/bookbanner6.jpg' %}" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="{% static 'img/bookbanner3.jpg' %}" alt="Slider Image" /></div>
    </div>
</div>
<!-- Main Slider End -->


<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shield"></i>
                    <h2>Trusted Shopping</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shopping-bag"></i>
                    <h2>Quality Product</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Worldwide Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-phone"></i>
                    <h2>Telephone Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->


<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="category-img">
                    <img src="{% static 'img/ThrillersCat.jpg' %}" />
                    <a class="category-name" href="">
                        <h2>Thrillers</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="{% static 'img/fantasycat.jpg' %}" />
                    <a class="category-name" href="">
                        <h2>Fantasy</h2>
                    </a>
                </div>
                <div class="category-img">
                    <img src="{% static 'img/romancecat.jpg' %}" />
                    <a class="category-name" href="">
                        <h2>Romance</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="{% static 'img/NovelsCat.jpg' %}" />
                    <a class="category-name" href="">
                        <h2>Novels</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End-->


<!-- Featured Product Start -->
<div class="featured-product">
    <div class="container">
        <div class="section-header">
            <h3>Featured Product</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {% if listproducts %}
            {% for product in listproducts %}
            <div class="col-lg-3">

                
                <div class="product-item">
                    <div class="product-image">
                        <a href="{% url 'product_detail' product.id %}">
                            {% if product.product.product_image %}
                            <img src="{{product.product.product_image.url}}" alt="Product Image">
                        </a>
                        {% endif %}
                        <div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="title"><a href="#" style="font-size: smaller;">{{product.variant_name}}</a></div>
                        <div class="ratting">
                            {% for _ in product.rating|default:0|star_range  %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                        </div>
                        {% if offerprice %}
                                 {% if product.id in offerprice %}
                                 <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ offerprice|get_item:product.id |floatformat:0 }} <span><i class="fa-solid fa-indian-rupee-sign"> </i>{{ product.product_price |floatformat:0 }}</span></div>
                                 {% else %}
                                 <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ product.product_price |floatformat:0 }} </div>
                        {% endif %}
                        {% else %}
                        <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ product.product_price |floatformat:0 }} </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
             {% endif %}
             
           
        
        
        </div>
    </div>
</div>
<!-- Featured Product End -->


<!-- Newsletter Start -->


{% if messages %}
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">You have a message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Trigger the modal -->
    <script>
        $(document).ready(function(){
            $('#confirmationModal').modal('show');
        });
    </script>
{% endif %}
<!-- Newsletter End -->


<!-- Recent Product Start -->

<!-- Recent Product End -->


<!-- Brand Start -->

<!-- Brand End -->

{% endblock %}