{% extends 'base.html' %}

{% load static %}

{% block content %}



<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'browse_products' %}">Products</a></li>
            <li class="breadcrumb-item active">product details</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="text-center">
    <span class="text-danger fw-5">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </span>
</div>



<div class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% if productinfo %}
                <div class="row align-items-center product-detail-top">
                    <div class="col-md-5">
                        <div class="product-slider-single">
                            {% if productinfo.product.product_image %}
                            <img src="{{ productinfo.product.product_image.url }}" style="transition: transform 0.4s ease;" onmouseover="this.style.transform='scale(1.4)'" onmouseout="this.style.transform='scale(1)'"  alt="Product Image">
                            </a>
                            {% endif %}
                             {% if product_images %}

                              {% for image in product_images %}
                              <img src="{{ image.images.url }}" style="transition: transform 0.4s ease;" onmouseover="this.style.transform='scale(1.4)'" onmouseout="this.style.transform='scale(1)'" alt="Product Image">
                              {% endfor %}

                             {% endif %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="product-content">
                            <div class="title"><h2>{{ productinfo.variant_name }}</h2></div>
                            <div class="ratting">
                                {% for _ in productinfo.rating|default:0|star_range  %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                            </div>
                            
                            {% if productinfo.offerprice > 0 and productinfo.catoffer > 0 %}
                            {% if productinfo.offerprice < productinfo.catoffer %}
                                <div class="price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 
                                    {{ productinfo.offerprice|floatformat:0 }} 
                                    <span>
                                        <i class="fa-solid fa-indian-rupee-sign"></i>
                                        {{ productinfo.product_price|floatformat:0 }}
                                    </span>
                                </div>
                            {% else %}
                                <div class="price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>
                                    {{ productinfo.catoffer|floatformat:0 }}
                                    <span>
                                        <i class="fa-solid fa-indian-rupee-sign"></i>
                                        {{ productinfo.product_price|floatformat:0 }}
                                    </span>
                                </div>
                            {% endif %}
                        {% elif productinfo.offerprice > 0 %}
                            <div class="price">
                                <i class="fa-solid fa-indian-rupee-sign"></i>
                                {{ productinfo.offerprice|floatformat:0 }}
                                <span>
                                    <i class="fa-solid fa-indian-rupee-sign"></i>
                                    {{ productinfo.product_price|floatformat:0 }}
                                </span>
                            </div>
                        {% elif productinfo.catoffer > 0 %}
                            <div class="price">
                                <i class="fa-solid fa-indian-rupee-sign"></i>
                                {{ productinfo.catoffer|floatformat:0 }}
                                <span>
                                    <i class="fa-solid fa-indian-rupee-sign"></i>
                                    {{ productinfo.product_price|floatformat:0 }}
                                </span>
                            </div>
                        {% else %}
                            <div class="price">
                                <i class="fa-solid fa-indian-rupee-sign"></i>
                                {{ productinfo.product_price|floatformat:0 }}
                            </div>
                        {% endif %}
                        
                        <div class="category-name">
                            <span>Category: {{ productinfo.category.category_name }}</span>
                        </div>
                      
                        <br>
                            <div class="details">
                                <p class="text-justify">
                                    {{ productinfo.product.product_description }}
                                </p>
                            </div>

                           

                            <div class="quantity">
                                {% if productinfo.stock > 0 %}
                                <h4 style="color: green;">In stock</h4>

                                {% else %}
                                 
                                <h4 style="color: red;">Out of stock</h4>

                                {% endif %}
                            </div>
                            <div class="quantity">
                                {% if productinfo.offerprice > 0 and productinfo.catoffer > 0 %}
                                    {% if productinfo.offerprice < productinfo.catoffer %}
                                        <h4 style="color: green;">Offer: Product offer - {{ productinfo.offer.off_percent }} %</h4>
                                    {% else %}
                                        <h4 style="color: green;">Offer: Category offer - {{ productinfo.category.offer.off_percent }} %</h4>
                                    {% endif %}
                                {% elif productinfo.offerprice > 0 %}
                                    <h4 style="color: green;">Offer: Product offer - {{ productinfo.offer.off_percent }} %</h4>
                                {% elif productinfo.catoffer > 0 %}
                                    <h4 style="color: green;">Offer: Category offer - {{ productinfo.category.offer.off_percent }} %</h4>
                                {% else %}
                                    <h4 style="color: green;">Offer: 0 %</h4>
                                {% endif %}
                            </div>
                            
                            
                            

                            
                            
                            <div class="action">
                                <a href="{% url 'add_to_cart' productinfo.id %}"><i class="fa fa-cart-plus"></i></a>
                                <a href="{% url 'add_wishlist' productinfo.id %}"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                            <br>
                            {% if request.user.is_authenticated and not user.is_superuser %}
                            <div class="quantity"><a href="{% url 'view_cart' user.id %}"><button style="width: 200px;" type="button" class="btn btn-primary">Go to cart</button></a></div>
                            {% else %}

                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
                            </li>
                            <li class="nav-item">
                              
                                <a class="nav-link" data-toggle="pill" href="#reviews">Reviews   {% if review %} ({{ review|length }}) {% else %}  (0)  {% endif %}</a>
                                
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active"><br>
                                <h4>Product description</h4>
                                <p>
                                    {{ productinfo.product.product_description }}
                                </p>
                            </div>
                            <div id="specification" class="container tab-pane fade"><br>
                                <h4>Product specification</h4>
                                <ul>
                                    <li>Author Name   :  {{ productinfo.author.author_name }}</li>
                                    <li>Category Name : {{ productinfo.category.category_name }}</li>
                                    <li>Edition       : {{ productinfo.edition.editons_name }}</li>
                                    <li>Publisher     : {{ productinfo.edition.publisher }}</li>
                                </ul>
                            </div>
                            <div id="reviews" class="container tab-pane fade"><br>
                                {% if review %}
                                    {% for reviews in review %}
                                <div class="reviews-submitted">
                                    
                                    <div class="reviewer">{{reviews.user.email}} <span>{{reviews.created_at}}</span></div>
                                    <div class="ratting">
                                        {% for _ in "x"|rjust:reviews.rating %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    
                                    </div>
                                    <h6 style="font-weight:bold ;">{{reviews.title}}</h6>
                                    <p>
                                        {{reviews.text}}
                                    </p>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div class="reviews-submit">
                                    <h4>Give your Review:</h4>
                                    <div class="ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <form action="{% url 'write_review' %}" method="post">
                                        <div class="row form">
                                            {% csrf_token %}
                                            <div class="col-sm-6">
                                                <input type="number" placeholder="Rating" min="0" max="5" step="1" name="rating" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="title" name="title" required>
                                            </div>
                                            <div class="col-sm-12">
                                                <textarea placeholder="Review" name="review_desc"></textarea required>
                                            </div>
                                            {% if productinfo %}
                                            <input type="number" name="id" value="{{productinfo.id}}" hidden>
                                            {% endif %}
                                            <div class="col-sm-12">
                                                <button>Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="section-header">
                        <h3>Related Products</h3>
                        
                    </div>
                </div>

                <!-- #----------------------------------------------------->
                

                <!------------------------------------------------------->
                
                <div class="row align-items-center product-slider product-slider-3">
                    {% if listproducts %}
                    {% for product in listproducts %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-image">
                                <a href="{% url 'product_detail' product.id %}">
                                    {% if product.product.product_image %}
                                    <img src="{{product.product.product_image.url}}" alt="Product Image">
                                </a>
                                {% endif %}
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="title" ><a href="#" style="font-size: smaller;">{{product.variant_name}}</a></div>
                                <div class="ratting">
                                    {% for _ in product.rating|default:0|star_range  %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                </div>
                                {% if product.offerprice %}
                                         
                                <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ product.offerprice|floatformat:0 }} <span><i class="fa-solid fa-indian-rupee-sign"> </i>{{ product.product_price |floatformat:0 }}</span></div>
                                {% else %}
                                <div class="price" style="font-size: large;"><i class="fa-solid fa-indian-rupee-sign"></i> {{ product.product_price |floatformat:0 }} </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>
                {% endif %}
            </div>
            
            <div class="col-lg-3">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <ul>
                        {% if category %}
                        {% for cat in category %}
                        <li><a href="{% url 'category_wise' cat.id %}">{{cat.category_name}}</a><span>({{ cat.product_variant_set.count }})</span></li>
                        {% endfor %}
                        {% endif %}
                        
                    </ul>
                </div>
                
                <div class="sidebar-widget image">
                    <h2 class="title">Featured Product</h2>
                    <a href="#">
                        <img src="{% static 'img/ThrillersCat.jpg' %}" alt="Image">
                    </a>
                </div>
                
               
                
               
            </div>
        </div>
    </div>
</div>


{% endblock %}