{% extends 'base.html' %}

{% load static %}


        <!-- Header End -->
        
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        {% block content %}

       


      
        
        <!-- Login Start -->
        <div class="login">
            <div class="container">
                <div class="section-header">
                    <h3>User Registration</h3>
                    <p>
                        <span class="text-danger fw-5">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </span>
                    </p>
                </div>
                <div class="row">
                  
                    <div class="col-md-12">    
                        <div class="register-form">
                            <form id="registrationForm" action="" method="post">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" id="firstname" name="first_name" placeholder="First Name" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" id="lastname" name="last_name" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="email" id="email" name="email" placeholder="E-mail" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Mobile No</label>
                                    <input class="form-control" type="number" id="phoneNumber" name="phonenumber" placeholder="Mobile No" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input class="form-control" id="password" type="password" name="password" placeholder="password" required>
                                    <span id="passwordStrength" style="color: red;" ></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input class="form-control" id="confirmPassword" type="password" name="c_passsword" placeholder="password" required>
                                    <span id="passwordStrength" style="color: red;" ></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Referal Code</label>
                                    <input class="form-control" type="text" name="referral_code" placeholder="referal code" >
                                </div>
                                
                                <div class="col-md-12">
                                    <button id="submitButton" class="btn">Submit</button>
                                </div>
                               
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Function to validate password match
            function validatePassword() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
                var strengthSpan = document.getElementById("passwordStrength");
        
                // Check if password and confirm password match
                if (password !== confirmPassword) {
                    strengthSpan.innerText = "Passwords do not match";
                    return false;
                } else {
                    strengthSpan.innerText = ""; // Clear previous strength message
                }
        
                // Check if password meets strength criteria
                var lowerCaseRegex = /[a-z]/;
                var upperCaseRegex = /[A-Z]/;
                var numberRegex = /[0-9]/;
        
                var isValid = lowerCaseRegex.test(password) && upperCaseRegex.test(password) && numberRegex.test(password) && password.length >= 8;
        
                if (!isValid) {
                    strengthSpan.innerText = "Password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, and one number";
                    return false;
                } else {
                    strengthSpan.innerText = ""; // Clear previous strength message
                }
        
                return true;
            }
        
            // Form submission validation
            document.getElementById("submitButton").addEventListener("click", function(event) {
                var password = document.getElementById("password");
                var confirmPassword = document.getElementById("confirmPassword");
                var phoneNumber = document.getElementById("phoneNumber");
                var email = document.getElementById("email");
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                var firstName = document.getElementById("firstname"); 
                var lastName = document.getElementById("lastname"); 
        
                // Validate password
                if (!validatePassword()) {
                    event.preventDefault(); // Prevent form submission if password is invalid
                }

                if (firstName.value.trim() === "" || !isNaN(firstName.value.trim())) {
                 alert("First name cannot be empty or contain numbers");
                 event.preventDefault();
                }
        
                // Validate last name
                if (!isNaN(lastName.value.trim())) {
                 alert("Last name cannot contain numbers");
                 event.preventDefault();
                }
               
        
                // Validate phone number
                if (phoneNumber.value.length !== 10) {
                    alert("Enter valid Phone number!! Phone number must be 10 digits long");
                    event.preventDefault();
                }
        
                // Validate email
                if (!emailRegex.test(email.value)) {
                    alert("Enter a valid email address");
                    event.preventDefault();
                }
            });
        </script>
        
        {% endblock %}

        
        
        