{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% block content %}

  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="row justify-content-center">
    <span class="text-danger fw-5">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </span>
</div>
<!-- My Account Start -->
<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment Method</a>
                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">Address</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="{% url 'proceed_to_pay' %}" role="tab">Wallet</a>
                    <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                        <h4>Dashboard</h4>
                        <p>
                           User can have all the informations regarding thier accounts,orders,payments etc.
                        </p> 
                    </div>
                    <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Orders</th>
                                        <th>Date</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders %}
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{order.order_id}}</td>
                                        <td>{{order.created}}</td>
                                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{order.order_total}}</td>
                                        <td>{{order.status}}</td>
                                        <td><a href="{% url 'order_summary' order.id %}"><button>View</button></a></td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Payment Method</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>
                    <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                        
                        <h4 class="d-flex justify-content-between">Address <a href="{% url 'add_address' 0 %}" target="" rel=""><button class="btn btn-primary">Add Address</button></a></h4>
                        <div class="row">
                            {% if address %}
                            {% for address in  address%}
                            <div class="col-md-6">
                                <h5>Shipping Address</h5>
                                {% if address.name %}
                                <p>{{address.name}}</p>
                                {% endif %}
                                <p>{{address.address}}</p>
                                <p>Mob:{{address.alternative_mobile}}</p>
                                <p>{{address.district}},{{address.state}}-{{address.zip_code}}</p>
                                <a href="{% url 'edit_address' id=address.id page_id=0 %}"><button>Edit Address</button></a>
                                <!-- <a href="{% url 'delete_address' address.id %}"><button>Delete</button></a> -->
                                <button onclick="confirmDelete('{{ address.id }}')">Delete</button>
                            </div>
                            {% endfor %}
                            {% endif%}
                           
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        {% if user %}
                        <h4 class="d-flex justify-content-between">Account Details</h4>
                        
                        <form action="" method="post">
                        <div class="row">
                            {% csrf_token %}

                            <div class="col-md-6">
                                <label for="first_name">First Name</label>
                                <input type="text" placeholder="First Name" name="first_name" value="{{user.first_name}}">
                            </div>
                            <div class="col-md-6">
                                <label for="last_name">Last Name</label>
                                <input type="text" placeholder="Last Name" name="last_name"  value="{{user.last_name}}">
                            </div>
                            <div class="col-md-6">
                                <label for="phone">Phone</label>
                                <input type="text" placeholder="Mobile" name="phone" value="{{user.phone}}">
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Email" name="email" readonly value="{{user.email}}">
                            </div>
                            <div class="col-md-6">
                                <label for="referralcode">Referal Code</label>
                                <input type="text" placeholder="Referal code" name="referralcode" readonly value="{{user.referral_code}}">
                            </div>
                            {% endif %}
                            
                            <div class="col-md-12">
                                <button>Update Account</button>
                                <br><br>
                            </div>
                        </div>
                        </form>
                        {% if user %}
                        <h4>Password change</h4>
                        <form action="{% url 'change_password_user' user.id %}" method="post">
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-12">
                               
                                <input type="password" name="currentpassword" id="myInput" placeholder="Current Password">
                                
                                </div>
                            
                          
                            <div class="col-md-6">
                                <input type="password" placeholder="New Password" name="password">
                            </div>
                            <div class="col-md-6">
                                <input type="password" placeholder="Confirm Password" name="c_password">
                            </div>
                            <div class="col-md-12">
                                <button>Save Changes</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->


<script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
<script>
    function confirmDelete(addressId) {
        if (confirm("Are you sure you want to delete this address?")) {
          
            window.location.href = "{% url 'delete_address' 0 %}".replace('0', addressId);
        }
    }
</script>



{% endblock %}